---
import Base from "@/layouts/Base.astro";
import { Image } from 'astro:assets';
import NotFoundImage from "@/assets/images/404.png"
---

<Base status={404} title="Page Not Found" disable_tagline={true}>
  <section class="py-8 md:py-16">
    <div class="container">
      <div class="flex flex-col items-center gap-y-10">
        <Image src={NotFoundImage} style="width: 10em;" alt="404-Not Found"/>
        <h1 class="h2 md:text-h1 text-center">Page Not Found</h1>
      </div>
    </div>
  </section>
</Base>
